@using Infrastructure.DataAccess.Forum.Documents
@rendermode InteractiveServer

<Virtualize Items="ForumThreads">
	<h3>@context.Title</h3>
</Virtualize>

@code {
	[Parameter]
	public List<ForumThreadDocument> ForumThreads { get; set; } = new List<ForumThreadDocument>();
}