@page "/Forum"
@using Infrastructure.DataAccess.Forum.Documents
@inject IForumRepository ForumRepository
@rendermode InteractiveServer
<h3>Forum</h3>

<NewThreadControl></NewThreadControl>

<ThreadView ForumThreads="ForumThreads"></ThreadView>

@code {

	public List<ForumThreadDocument> ForumThreads { get; set; } = new();


	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
			ForumThreads.AddRange(await ForumRepository.GetAllAsync());
		}

	}

	private void Add()
	{
	}
}